.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: radial-gradient(white,rgb(245, 214, 219));
}

header {
  display: flex;
  justify-content: space-between;
  background-color: palevioletred;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav,
article {
  height: 100%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

article .body {
  white-space: break-spaces;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

button {
  background-color: rgb(250, 237, 239);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: rgb(251, 218, 223);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  width: 250px;
  height: 250px;
  top: 50px;
  right: 0px;
  padding: 8px;
  margin-right: auto;
  position: absolute;
  object-position: top, right;
  align-items: flex-end;
 }